<% @itineraries.each do |itinerary|%>

    <div class="container-index-itineraries">

        <div class='container-index-itineraries-2'>
          <div class='item-index-itineraries-2'>
          </div>
        </div>

    </div>

<% end %>
