.bravobox {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  border: #1a15ff solid 2px;
  top: 2em;
  background-color : #ffffff;
  opacity: 0.8;
  width: 90%;
  color: #1A15FF;
  border-radius: 30px;
  margin-left: 5%;
}

#textbox {
  font-size: 1.3rem;
}

.distanceboxshowrecap {
  opacity: 0.8;
  margin: auto;
  position: relative;
  z-index: 3;
  top: -42.5rem;
  background-color: #ECEAFF;
  border: #1A15FF 2px solid;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.rs-label-recap {
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50rem;
  height: 30px;
  line-height: 30px;
  width: 90px;
  margin-top: 0.7rem;
  margin-bottom: 0.8rem;
  background-color: transparent;
  color: #1A15FF;
  border: 1px solid #ffffff00;
  margin-left: 25px;
}

.progressbar {
  position: relative;
  top: -1.5rem;
  z-index: 9;
}
