<h1>show de user</h1>
<br>

<h2>Current user </h2>
<p>Nickname: <%=  @user.nickname %></p>
<p>Name:</p>
<p>Last Name:</p>
<p>Email: <%= @user.email %></p>

<%#  ici insérer  liens
'EDIT'  pour aller sur la page update de user_path
'DELETE' pour faire l action delete de user %>
