<div class='container-user mt-3'>
  <div>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/rbuscot01", id: 'img-size' %>
  </div>
  <br>

  <p class='roboto-medium-font'>
    <%= @user.full_name %>
  </p>

  <p class='roboto-light-font'>
    <%= @user.address %>
  </p>

  <p id='link-margin-top'>
    <%= link_to 'Strava', 'https://www.strava.com/athletes/102168678', target: '_blank', id: 'link-style' %>
  </p>

  <button class="btn btn-outline-primary">
    Edit Profile
  </button>
  <br>

  <button class="btn btn-outline-primary">
    Delete Profile
  </button>
</div>
