.big_blue_button {
  background-color: #1A15FF;
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 1.3em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin-top: 1em;
}

.distance_box {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 10px;
}


.slider {
  width: 90%;
  height: 31px;
  color: #D9D9D9;
  background: #ffffff;
  align-content: center;
  opacity: 0.7;
  transition: opacity .2s;
  border-radius: 30px;
  text-align: center;
  margin-left: 15px;
}

.labelslider {
  width: 90%;
  height: 31px;
  color: #D9D9D9;
  background: #ffffff;
  align-content: center;
  opacity: 0.7;
  transition: opacity .2s;
  border-radius: 30px;
  text-align: center;
  margin-left: 15px;
  margin-top: 24px;
}
