.menu--item figure:before {
  display: none !important;
  content: none;
}

.menu--item:nth-child(n+10):before {
  display: none !important;
}


.menu--item {
  height: 80px !important;
  width: 80px !important;
  border-radius: 10px;
  filter: grayscale(100%);
}

.item-grey {
  filter: grayscale(0%) !important;
}


.btn-trajet-container {
  position: relative;
}
