.menu--item figure:before {
  display: none !important;
  content: none;
}

.menu--item:nth-child(n+10):before {
  display: none !important;
}


.menu--item {
  height: 80px !important;
  width: 80px !important;
  border-radius: 10px;
}

.item-grey {
  filter: invert(25%) sepia() saturate(1000%) hue-rotate(186deg);
}
