.mapboxgl-popup {
  border-radius: 0.5em ;
  border-color: #1A15FF;
}

.mapboxgl-popup-content {
  text-align: center;
}

.mapitinerary {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 60vh;
  min-height: 500px;
  border-radius: 1em ;
  position: absolute;
  z-index: 1;
  // border: #1a15ff 2px solid;
  background-position-y: -13rem;
}

.mapprogressnav {
  position: relative;
  margin: auto;
  top: 26.2rem;
  width: 93%;
  height: 60px;
  border-radius: 50px ;
  border: #ffffff 5px solid;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.mapprogress {
  top: -0.5rem;
  width: 100%;
  height: 80px;
  border-radius: 1em ;
  // border: #1A15FF 1px solid;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
}

.maprecap {
  filter:grayscale(0%);
  margin-top: 20%;
  width: 100%;
  height: 60vh;
  border-radius: 1em ;
  position: absolute;
  z-index: 1;
  // border: #1a15ff 2px solid;
}

.map {
  margin-top: -3rem;
  width: 100%;
  height: 60vh;
  min-height: 500px;
  border-radius: 1em ;
  position: absolute;
  z-index: 1;
  // border: #1a15ff 2px solid;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl {
  display: none !important;
}

.mapboxgl-ctrl-geocoder {
  display: none !important;
}

.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.marker{
  color: #1A15FF;
  opacity: 0.8;
  font-size: 2em;
}

.markerpath{
  color: rgb(241, 4, 4);
  opacity: 0.9;
  font-size: 2em;
}

.button-relative{
  position: relative;
  z-index: 4;
  top: 30.5rem;
  opacity: 0.9;
  margin-left: 1.1%;
  margin-top: -100px;
}

.reveal-relative {
  position: relative;
  z-index: 2;
  top: -41rem;
  opacity: 0.85;
}

.request_category{
  display: flex;
  overflow-x: scroll;
  font-size: 1.5em;
  margin-left: -0.3rem;
  padding-left: 1.1rem;
}

.mapitinerarynav {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 50vh;
  min-height: 500px;
  border-radius: 1em;
  position: absolute;
  z-index: 1;
  // border: #1a15ff 2px solid;
  background-position-y: -5rem;
}

.mapitineraryrecap {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  min-height: 400px;
  height: 50vh;
  border-radius: 1em ;
  position: absolute;
  z-index: 1;
  // border: #1a15ff 2px solid;
  background-position-y: -13rem;
}
