.mapboxgl-popup {
  border-radius: 0.5em ;
  border-color: #1A15FF;
}

.mapboxgl-popup-content {
  text-align: center;
}


.map {
  margin-top: -1rem;
  width: 100%;
  height: 600px;
  border-radius: 1em ;
  position: absolute;
  z-index: 1;
  border: #1a15ff 2px solid;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl {
  display: none !important;
}

.mapboxgl-ctrl-geocoder {
  display: none !important;
}

.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.marker{
  color: #1A15FF;
  opacity: 0.8;
  font-size: 2em;
}

.markerpath{
  color: rgb(241, 4, 4);
  opacity: 0.9;
  font-size: 2em;
}

.button-relative{
  position: relative;
  z-index: 4;
  top: 30.5rem;
  opacity: 0.8;
  margin-left: 1.1%;
}

.reveal-relative {
  position: relative;
  z-index: 2;
  top: -47rem;
  opacity: 0.85;
}

.request_category{
  display: flex;
  overflow-x: scroll;
  font-size: 1.5em;
}
